@charset "UTF-8";

/*
  em HTML é id = em CSS é #
  em HTML é class = em CSS é .
*/
body{
    background-color: rgb(147, 245, 180);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(57, 182, 57);
}
#principal{
    text-align: center;
    background-color:  rgb(57, 182, 57);
    color: white;
}
h2{
   color: rgb(58, 146, 58);
}
.basico{
    color: rgb(58, 146, 58);
    font-weight: bold;
}
.intermediario{
    color: rgb(163, 173, 18);
}
.avancado{
    color: rgb(190, 63, 40);
}